body 
{
    background-color: white;
}
.dr{
    background-color: darkred;
}

.r{
    background-color: red;
}

.br{
    background-color: salmon;
}

.bl{
    background-color: blue;
}

.dbl{
    background-color: steelblue;
}
